<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="/static/main.css">
<style>

</style>
</head>
<body>
    <div class="container">
        <div>
            <div id="recognize">
                <div>Tony</div>
            </div>
            <br>
            <span id="output">output</span>
        </div>
    </div>
<script src="/static/watson-speech.js"></script>
<script src="/static/majax.js"></script>
<script>var _token = '{{token}}';</script>
<script src="/static/main.js"></script>
</body>
</html>
